# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/
.eggs/
.Python

# Package directories
dist/
build/
*.egg

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.temp
*.out
*.pid

# Cache files
.cache/
*.pyc
*.pyo
.DS_Store

# IDE settings (optional)
.vscode/
.idea/

# Ignore coverage reports
htmlcov/
.tox/
.coverage
.cache/
coverage.xml
nosetests.xml
pytest_cache/
.test/

# Other common Python files
*.sqlite3
*.db

# Ignore all markdown and text files except README.md

!README.md
*.txt

# Optional: ignore YAML and config files if they are non-essential
*.yml
*.yaml
*.toml
*.cfg

# Ignore Jupyter Notebook files if not needed
*.ipynb
